*.exe
*.ini
*.dcu
SRTAdjuster.exe
update/build/check_update/Analysis-00.toc
update/build/check_update/base_library.zip
update/build/check_update/check_update.pkg
update/build/check_update/EXE-00.toc
update/build/check_update/localpycs/pyimod01_archive.pyc
update/build/check_update/localpycs/pyimod02_importers.pyc
update/build/check_update/localpycs/pyimod03_ctypes.pyc
update/build/check_update/localpycs/pyimod04_pywin32.pyc
update/build/check_update/localpycs/struct.pyc
update/build/check_update/PKG-00.toc
update/build/check_update/PYZ-00.pyz
update/build/check_update/PYZ-00.toc
update/build/check_update/warn-check_update.txt
update/build/check_update/xref-check_update.html
